@charset "UTF-8";
/* Обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-------------------------*/
@font-face {
  font-family: "NirmalaUI";
  src: url("../fonts/Nirmala.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "NirmalaUI";
  src: url("../fonts/NirmalaB.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
* {
  font-family: "NirmalaUI";
  z-index: 1;
}

.audio-btn {
  position: absolute;
  right: 4%;
  top: 5%;
  background: #ec1119;
  border-radius: 50%;
  padding: 10px;
  z-index: 3;
}
.audio-btn img {
  width: 32px;
  height: 32px;
}
.audio-btn:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 150%;
  height: 2px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(0);
          transform: translate(-50%, -50%) rotate(-45deg) scale(0);
  background: #fff;
  transition: 0.3s ease;
  opacity: 0;
}
.audio-btn.disabled:before {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg) scale(1);
          transform: translate(-50%, -50%) rotate(-45deg) scale(1);
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("../img/bg.jpg") center/cover no-repeat;
  overflow: hidden;
}

.section {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 15px;
  transition: 0.4s ease;
  opacity: 0;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}
.section.active {
  z-index: 2;
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

.text {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20%;
}

.left-img,
.right-img {
  position: absolute;
  bottom: 0;
  display: block;
  width: 25%;
  z-index: 0;
}
.left-img img,
.right-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.left-img {
  left: 0;
}

.right-img {
  right: 0;
}

.white-p {
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: calc(16px + calc(32 - 16) * ((100vw - 320px) / 1600));
  line-height: 1.3;
}

.heading {
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(130.09deg, #eb5d38 31.89%, #ffd600 92.03%), linear-gradient(0deg, #ffffff, #ffffff);
  text-shadow: 0px 4px 20px rgba(255, 213, 54, 0.5019607843);
  -webkit-text-stroke: 1.5px white;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font-weight: 700;
  line-height: 1.2;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-n {
  flex: 1 1 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(24px + calc(32 - 24) * ((100vw - 320px) / 1600));
  border-radius: 10px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  padding: 0.6em 2em;
  margin-right: 50px;
  transition: 0.3s ease;
}
.btn-n:hover {
  background: #373737;
  box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.4);
}

.btn-y {
  flex: 1 1 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(24px + calc(32 - 24) * ((100vw - 320px) / 1600));
  border-radius: 10px;
  background: linear-gradient(103.39deg, #ffe53b -32.17%, #ff2525 114.07%);
  box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.4);
  color: #fff;
  padding: 0.6em 2em;
  transition: 0.3s ease;
}
.btn-y:hover {
  box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.4), 8px 8px 10px 0px rgba(0, 0, 0, 0.4) inset;
}

.section1__top-text {
  text-align: center;
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 40px;
  overflow: hidden;
  padding: 10px 35px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.section1__center-text {
  font-size: calc(24px + calc(84 - 24) * ((100vw - 320px) / 1600));
  margin: 20px 0 40px;
}
.section1__bottom-text {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff2ce;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2509803922);
  font-size: calc(12px + calc(28 - 12) * ((100vw - 320px) / 1600));
  line-height: 1.4;
  letter-spacing: 0.2em;
  margin-bottom: 80px;
}

.section2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section2__text {
  padding: 0 15%;
}
.section2__heading {
  font-size: calc(24px + calc(64 - 24) * ((100vw - 320px) / 1600));
  margin-bottom: 50px;
}
.section2__slider-wrapper {
  position: relative;
  width: 80%;
  margin: auto 0;
}
.section2__slider {
  position: relative;
  display: flex;
  width: 30%;
  align-items: center;
  border: 1px solid #ffffff !important;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.section2__slider-slide {
  padding: 40px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100% !important;
}
.section2__slider-img {
  position: relative;
}
.section2__slider-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.section2__slider-text {
  text-align: center;
  font-weight: 700;
  color: #fff;
  font-size: calc(20px + calc(32 - 20) * ((100vw - 320px) / 1600));
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2509803922);
  margin-top: 30px;
}
.section2__slider-prev {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 88px;
  height: 88px;
  background: linear-gradient(103.39deg, #ffe53b -32.17%, #ff2525 114.07%);
  border-radius: 50%;
  transition: 0.3s ease;
}
.section2__slider-prev:after {
  content: "";
  position: absolute;
  display: block;
  background: url("../img/prev.svg") 0 0/100% no-repeat;
  width: 100%;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  left: 45%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}
.section2__slider-prev:hover {
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.2509803922) inset, 4px -4px 8px 0px rgba(0, 0, 0, 0.2509803922) inset;
}
.section2__slider-next {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 88px;
  height: 88px;
  background: linear-gradient(103.39deg, #ffe53b -32.17%, #ff2525 114.07%);
  border-radius: 50%;
  transition: 0.3s ease;
}
.section2__slider-next:after {
  content: "";
  position: absolute;
  display: block;
  background: url("../img/next.svg") 0 0/100% no-repeat;
  width: 100%;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  right: 45%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}
.section2__slider-next:hover {
  box-shadow: -4px 4px 8px 0px rgba(0, 0, 0, 0.2509803922) inset, 4px -4px 8px 0px rgba(0, 0, 0, 0.2509803922) inset;
}
.section2__buttons {
  margin-top: 50px;
}

.section3__heading {
  font-size: calc(48px + calc(120 - 48) * ((100vw - 320px) / 1600));
  margin-bottom: 40px;
}
.section3__paragraph {
  margin-bottom: 120px;
}

@media (max-width: 1023px) and (orientation: portrait) {
  .audio-btn {
    right: 15px;
    top: 15px;
    padding: 7px;
  }
  .audio-btn img {
    width: 20px;
    height: 20px;
  }
  .text {
    height: 100%;
    padding: 0 5%;
    align-self: start;
    justify-content: start;
  }
  .heading {
    -webkit-text-stroke: 0.5px white;
  }
  .buttons {
    flex-wrap: wrap;
    margin-top: auto;
  }
  .section1__top-text {
    margin: 0 30px;
  }
  .section1__left-img {
    display: none;
  }
  .section1__right-img {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    width: 70%;
  }
  .section1__btn-n {
    order: 1;
    margin-right: 0;
    margin-top: 10px;
  }
  .section2__text {
    height: auto;
  }
  .section2__slider {
    width: calc(100% - 120px);
  }
  .section2__slider-wrapper {
    width: 100%;
  }
  .section2__slider-slide {
    padding: 15px 20px;
  }
  .section2__slider-text {
    margin-top: 10px;
  }
  .section2__slider-prev {
    width: 45px;
    height: 45px;
  }
  .section2__slider-prev:after {
    width: 75%;
    background: url("../img/prev_m.svg") 0 0/100% no-repeat;
  }
  .section2__slider-next {
    width: 45px;
    height: 45px;
  }
  .section2__slider-next:after {
    width: 75%;
    background: url("../img/next_m.svg") 0 0/100% no-repeat;
  }
  .section2__heading {
    margin-bottom: 20px;
  }
  .section2__buttons {
    margin-bottom: 20px;
  }
  .section3__heading {
    margin-bottom: 10px;
  }
  .section3__right-img {
    display: none;
  }
  .section3__left-img {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 70%;
  }
}